.sort-button {
    background-color: rgb(171, 144, 238);
    padding: 6px 11px;
    margin: 6px;
    border: none;
    cursor: pointer;
}
  
.sort-button.selected {
    background-color: rgb(123, 0, 255);

}